*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.section h2.section-head{
    text-align: center;
    color: black;
    margin-bottom: 40px;
}
.section h2.section-head::after{
    content: "";
    background-color: tomato;
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto;
}
#header{
    color: white;
    background-color: tomato;
}
#logo{
    margin-top: 5px;
    padding: 0;
    font-size: 1.5rem;
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline-block;
}
#menu li a{
    display:block;
    text-decoration: none;
    color: white;  
    padding: 8px 8px;
}
#menu li a:hover{
    background-color: rgb(241, 43, 8);
}
#baner{
    background: url(../img/bg.jpg) no-repeat; 
    background-size: cover;
    background-position: 0 0;
}
.baner-titel{
    padding-top: 10rem;
}
.baner-titel h1{
    display: inline-block;
    background: rgba(255, 255, 255, 0.137);
    color: white;
    font-size: 2rem;
    padding: 10px;
    margin: 0;
}
.baner-titel p{
    color: tomato;
    font-size: 1.5rem;
    padding: 10px;
    margin-top:5px; 
}
.section-head{
    text-align: center;
}
.service-box{
    text-align: center;
}
.service-box i{
    font-size: 2rem;
    color: tomato;
}
#testimonials{
    background: url(../img/bg2.jpg) no-repeat;
    background-position: 10% 0;
    background-size: cover;
    padding: 50px 0;
    color: white;
    position: relative;
}
#testimonials::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(52, 73, 94, 0.4);
}
.testimonial img{
    border-radius: 50%;
}
.news-post img{
    width: 100%;
    margin-bottom: 10px;
}
.news-post h3{
    font-size: 1.35rem;
}
.news-post h3 a{
    color: tomato;
}
.post-date{
    font-size: 13px;
    margin-bottom: 12px;
}
.post-date i.far{
    margin-right: 2px;
}
.readmore{
    color:tomato;
    text-decoration: none;
    font-size: 18px;
}
.readmore:hover{
    color: rgb(224, 126, 108);
}
.footer-sidebar{
    background: rgb(25, 51, 59);
    color: white;
    padding: 20px;
}
.footer-widget h4::after{
    content: "";
    background: tomato;
    display:block;
    height: 3px;
    width: 80px;
    margin: 5px 0;
}
.footer-widget ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-widget a{
    color: white;
    text-decoration: none;
}
.footer{
    background: rgb(21, 37, 37);
    color: white;
}
#social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}
#social-icons li{
    display: inline-block;
    padding-left: 5px;
}
#social-icons li a{
    color: white;
    font-size: 25px;
}


@media screen and (max-width:992px){
    .news-post{
        margin-bottom: 30px;
    }
}
@media screen and (max-width:768px){
    .section{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #logo{
        text-align: center;
        margin: 10px;
    }
    #menu{
        text-align: center;
        margin: auto;
    }
    .baner-titel{
        padding-top: 0;
    }
    .baner-titel h1{
        font-size: 1.7rem;
    }
    .testimonial{
        text-align: center;
        margin-bottom: 30px;
    }
    .footer-widget{
        margin-bottom: 20px;
    }
    .service-box{
        margin-bottom: 30px;
    }
    #social-icons{
        margin-top: 10px;
    }
}

@media screen and (max-width:540px){
    #menu{
        text-align: center;
    }
}
@media screen and (max-width:420px){
    .col-md-8{
        margin: 0;
        padding: 0;
    }
}
